<article>
		<p>
				<%@data.length.times do |i|%>
					<p>
						Activity Type :: 
							<%=@data[i].type%>
						,Number of Activities ::
							<%=@data[i].cnt%>
						, year ::
							<%=@data[i].year%>
					</p>
				<%end%>
		</p>

</article>

