<article>
		<p>
				<%@data.length.times do |i|%>
					<p>
						Activity Type :: 
							<%=@data[i].type%>
						,Number of Activities ::
							<%=@data[i].cnt%>
				        ,for day ::
							<%=@data[i].created_at%>
					</p>
				<%end%>
		</p>

	</article>

