<% if @activity %>
	<p>Are you sure you want to delete the following activity: <em>"<%= @activity.description %>"</em>?</p>
	<form action="/activity/<%= @activity.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Yes, Delete It!">
		<a href="/<%= @activity.id %>">Cancel</a>
	</form>
<% else %>
	<p>Note not found.</p>
<% end %>
