<% if @activity %>
	<form action="/<%= @activity.id %>" method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		<textarea name="description"><%= @activity.description %></textarea>
		<input type="submit">
	</form>
	<p><a href="/<%= @activity.id %>/delete">Delete</a></p>
<% else %>
	<p>Note not found.</p>
<% end %>
