<%=@data%>
	<article>
		<p>
				<%@data.length.times do |i|%>
					<p>
						Count 
							<%=@data[i].num_activities%>
						,year :
							<%=@data[i].created_at%>
				        ,user id 
							<%=@data[i].user_id%>
					
					</p>
				<%end%>
		</p>

	</article>
